<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s3.notice.NoticeDAO">
	<select id="getList" resultType="com.iu.s3.notice.NoticeDTO">
		select * from notice order by num desc
	</select>
	
	<select id="getSelect" parameterType="com.iu.s3.notice.NoticeDTO" resultType="com.iu.s3.notice.NoticeDTO">
		select * from notice where num=#{num}
	</select>

	<update id="setUpdate" parameterType="com.iu.s3.notice.NoticeDTO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
		
	</update>
	

</mapper>  